html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.ReactModal__Overlay--after-open{
  background-color: transparent !important;
}
.ReactModal__Content{
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  border-radius: 0px !important;
  position:absolute;
  right:0;
  inset: 20px 0px auto auto !important;
}

#index-canvas-container{  
  background: linear-gradient(to bottom, #272727, #0d79ac);
}

#service-canvas-container {
  position: absolute;
  max-width: 100vw !important;
  width: 100vmax;
  height: 100vmax;
  max-height: 100vh;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #F5DEB3, #8ee6c8);
  /* transform: translate3d(-50%, -40%, 0); */
  z-index: -1;
}
#service-canvas-container > canvas{
  max-width: 100vw !important;
}

.nav a:hover .nav a.is-active {
  border-bottom: dashed white 2px;
}